<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/dist/app.css">
    <title>Webpack</title>
</head>
<body>
    <h1>Список пользователей</h1>
    <div id="app" class="container">
      <div class="user__filtering">
          <div id="filter">
              <span>Показать:</span>
              <button type="button" class="sort-button active" @click="filterAll"><span>всех</span></button>
              <button type="button" class="sort-button" @click="filterDesign"><span>дизайнеров</span></button>
              <button type="button" class="sort-button" @click="filterDeveloper"><span>разработчиков</span></button>
              <button type="button" class="sort-button" @click="filterManager"><span>контент-менеджеров</span></button>
          </div>
          <div id="sorting">
              <span>Сортировать:</span>
              <button type="button" class="sort-button active" @click="sortByID"><span>по ID</span></button>
              <button type="button" class="sort-button" @click="sortByName"><span>по имени</span></button>
              <button type="button" class="sort-button" @click="sortByBDate"><span>по дате рождения</span></button>
          </div>
      </div>

      <div class="row">
        <button type="button" class="btn btn-primary add-button" data-toggle="modal" data-target="#modal"><span>Добавить</span></button>
        <div class="col-md-12">
          <ul class="list-group user__list">
            <li class="col-md-4 list-group-item user" v-for="(item, index) in users" :key='index'>
              <div class="content">
                    <span><strong>{{item.name}}</strong></span>
                    <br>
                    <span>ID: {{item.id}}</span>
                    <br>
                    <span>Специальность:<br>{{item.role}}</span>
                    <br>
                    <span> Номер телефона:<br>{{item.phone}}</span>
              </div>
                  
              <button type="button" class="user__edit-btn btn btn-primary" @click="editItem(index)">
                  <span aria-hidden="true">Изменить</span>
              </button>
            </li>
          </ul>
        </div>
      </div> 
        
        <div id="modal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
              <div class="modal-body">
                <form id="userForm" class="form-horizontal user-form" @submit="addUser" action="" method="POST">
                  <div class="form-group">
                    <label for="name" class="control-label">Имя пользователя</label>
                    <div class="col-10 form-input-box">
                      <input type="text" class="form-control" id="name" placeholder="Имя пользователя" v-model="item.name" required>
                    </div>
                    <label for="phone" class="control-label">Телефон</label>
                    <div class="col-10 form-input-box">
                      <input type="tel" class="form-control" id="phone" ref="field" placeholder="Телефон" v-model="item.phone" required>
                    </div>
                    <label for="user-birthday" class="control-label">Дата рождения</label>
                    <div class="col-10 form-input-box">
                        <input type="text" name="birthday" class="form-control" id="birthday" ref="datemask"  placeholder="Дата рождения" v-model="item.birthday" required>
                    </div>
                    <label for="user-role" class="control-label">Специальность</label>
                    <div class="col-10 form-input-box">
                      <select name="role" id="role" class="form-control" v-model="item.role">
                          <option value="designer">Дизайнер</option>
                          <option value="developer">Разработчик</option>
                          <option value="manager">Контент-менеджер</option>
                      </select>
                    </div>
                    <div class="col-10">
                        <label for="archive" class="control-label">В архиве</label>
                        <input type="checkbox" value="В архиве" name="archive" id="archive" v-model="item.isArchive" />
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" @submit="editItem()"><span>OK</span></button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" @click="editCancel" aria-label="Close"><span>Отмена</span></button>
                  <br>
                  <button type="submit" class="user__remove-btn btn btn-primary" @click="removeUser"><span aria-hidden="true">Удалить</span></button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/dist/app.js"></script>
</body>
</html>